*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(224, 95, 8);
    
}

section{
    display: flex;
    margin-top: 5%;
    justify-content: space-around;
    font-size: 25px;
}

#nomes{
    width: 500px;
    height: 500px;
    background-color: whitesmoke; 
    display: block; 
}

#nomes p{
    text-align: justify;
    margin: 20px 25px;
}

#fabricantes{
    margin: 20px;
}

#fabricantes input{
    margin-bottom: 12px;
}

#enviar{
    margin: 15px;
    width: 90%;
    height: 30px;
}


#res{
    width: 500px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    float: right;
    text-align: center;
    padding: 0px 10px;
    white-space: wrap;
    overflow: scroll;
    
}

#res img{
    margin-top: -30px;
}

#res h1{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}

#res p{
    font-size: 18px;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}