*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

body{
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
}


#title{
    text-align: center;
    margin: 50px 0;
}

#txt{
    text-align: justify;
    font-size: 20px;
    width: 80%;
    margin-left: 60px;
    margin-bottom: 50px;


}
 #form{
     text-align: center;
     
 }

#palpites{
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    font-size: 22px;
}


#ultimoResultado{
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}

#baixoOuAlto{
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}